@import "variables";

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url("fonts/OpenSans-Regular.otf") format("opentype");
}

body {
  font-family: OpenSans, sans-serif;
  font-size: @regular;
}

p {
  font-size: @regular;
}

.container-fluid {
  padding-left: @bootstrap-container-padding;
  padding-top: @bootstrap-container-padding;
  padding-right: @bootstrap-container-padding;
}

.page-header {
  margin: 0 0 @bootstrap-gap;
}
