@import 'colors';

@bootstrap-gap: 20px;
@bootstrap-col-padding: 15px;
@bootstrap-container-padding: 35px;

@sidebar-width: 120px;

@huge: 30px;
@larger: 25px;
@large: 18px;
@regular: 15px;
@small: 13px;
@smaller: 10px;

@regular-gap: 25px;
@small-gap: 10px;
