@import 'colors';

@bootstrap-gap: 20px;
@bootstrap-container-padding: 25px;

@sidebar-width: 230px;
@sidebar-color: linear-gradient(#b3217b, #28639b);

@larger: 22px;
@large: 18px;
@regular: 15px;
@small: 12px;
@smaller: 10px;

@regular-gap: 25px;
