@import "../styles/variables";
@import "../styles/colors";
@import "../styles/mixins";

.rule-tabs {
  margin: -@bootstrap-container-padding;
  .rule-content {
    padding: @bootstrap-container-padding;
    background-color: @grey;
  }
  .rack-image {
    width: 300px;
    display: block;
    padding: @regular-gap;
    .centered();
  }
}
